{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/userstories/">Userstories</a></li>
			<li class="active"><a href="/userstories/consultarUserstory/{{ id }}/">Consulta de user story</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">{{ userstory.nombre}}</a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<p><h4>Id: <span class="label label-default">{{ perfil.id }}</span></h4></p>
	<p><h4>Nombre del User Story: <span class="label label-default">{{ perfil.nombre }}</span></h4></p>
	<p><h4>Descripcion del User Story: <span class="label label-default">{{ perfil.descripcion }}</span></h4></p>
	<p><h4>Estado: <span class="label label-default">{{ perfil.estado }}</span></h4></p>
    <p><h4>Prioridad: <span class="label label-default">{{ perfil.prioridad }}</span></h4></p>
    <p><h4>Tiempo Estimado: <span class="label label-default">{{ perfil.tiempoestimado }}</span></h4></p>
    <p><h4>Tiempo Trabajado: <span class="label label-default">{{ perfil.tiempotrabajado }}</span></h4></p>
    <p><h4>Porcentaje Realizado: <span class="label label-default">{{ perfil.porcentajerealizado }}</span></h4></p>
    <p><h4>Historial: <span class="label label-default">{{ perfil.historial }}</span></h4></p>
    <p><h4>Usuario Asignado: <span class="label label-default">{{ perfil.usuarioasignado }}</span></h4></p>
    <p><h4>Flujo Asociado: <span class="label label-default">{{ perfil.flujoasociado }}</span></h4></p>
    <p><h4>Sprint Asociado: <span class="label label-default">{{ perfil.sprintasociado}}</span></h4></p>


</div>
<br>
<div align="center">
		<a href="/userstories/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
	
{% endblock %}


