{% extends "base_general.html" %}

{% block navegacion %}
  <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/userstories/">User Stories</a></li>
			<li class="active"><a href="/proyectos/userstories/{{ id_proyecto }}/descargar_view/{{ id_userstory }}/">Descarga del Adjunto</a></li>
        </ul>
	</div>
</nav>
    </div>
{% endblock %}


{%block titulo%}Descargas{%endblock%}
{% block contenido %}
<nav class="detalle">
    <h1>Descargar Archivo</h1>
    <table class="max">
        <tr>
            <td><strong>Nombre</strong></td>

        </tr>
         {% for us in userstories %}
        <tr>

            <td><a href="/proyectos/userstories/descargar/{{us.id}}"><font color="#3D9A13">{{us.nombre}}</font></a></td>
        </tr>

        {% endfor %}
    </table>
   <a href="/proyectos/"><button type="button" class="btn btn-default">Volver</button></a>
</nav>
{% endblock %}