{% extends "base_general.html" %}

{% block navegacion %}
    <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Userstories</a></li>
        </ul>
	</div>
</nav>
    </div>
{% endblock %}

{% block menu %}
    <div class="container">
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Userstories</a>
		</li>
	</ul>
</div>
    </div>
{% endblock %}

{% block botones %}
    <div class="container">
<div class="row">
	<form class="navbar-form navbar-left">
        {% if perm_add_us == 1 %}
		<a href="crearuserstory/"><button type="button" class="btn btn-default">Crear User Story</button></a>
        {% endif %}
	</form>
</div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="container">
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<br>
		{% if lst %}
<div class="content-secondary">
	<div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tiempo Estimado</th>
                  <th>Usuario Asignado</th>
                  <th>Estado US</th>
                  <th>Prioridad</th>
                  <th>Sprint</th>
                  <th>Estado Sprint</th>
                  <!--<th>Porcentaje Realizado</th>-->
              </tr>
            </thead>

            <tbody>
                {% for x in lst %}
				{% if x.userstory.activo %}
	            <tr>

				        <td>{{ x.userstory.nombre }}</td>
                        <td>{{ x.userstory.descripcion }}</td>
                        <td>{{ x.userstory.tiempoestimado }}</td>
                        <td>{{ x.userstory.usuarioasignado.username }}</td>
                        <td>{{ x.userstory.estado }}</td>
                        <td>{{ x.userstory.prioridad }}</td>
                        <td>{{ x.userstory.sprint.nombre }}</td>
                        <td>{{ x.userstory.sprint.estado }}</td>
                          <td><a href="consultar/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a></td>
                          {% if perm_change_us == 1 %}
                            <td><a href="modificaruserstory/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a></td>
                          {% endif %}

                          {% if perm_avance_userstory == 1 %}
                              {% if x.mi_us == 1 %}
                                <td><a href="modificar_avance_userstory/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Registrar Avance</button></a></td>
                              {% else %}
                                <td>  <button type="button" disabled=True class="btn btn-default btn-sm">Registrar Avance</button></td>
                              {% endif %}
                          {% endif %}

                          {% if perm_delete_sprint == 1 %}
                          <td><a href="eliminaruserstory/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Eliminar</button></a></td>
                          {% endif %}

                          <td><a href="verHistorial/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Ver Historial de Cambios</button></a></td>
                          <td><a href="descargar_view/{{ x.userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Descargar</button></a></td>


				{% endif %}
			{% endfor %}
                     </tr>
            </tbody>

          </table>
        </div>
    </div>
{% endif %}
	</div>
    </div>
{% endblock %}
