{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/userstories/">Userstories</a></li>
        </ul>
	</div>
</nav>
{% endblock %}

{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Userstories</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">

		<a href="crearuserstory/"><button type="button" class="btn btn-default">Crear User Story</button></a>

	</form>
</div>
{% endblock %}
{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="panel-group" id="accordion">

	<br>
		{% if lista_userstories %}
			{% for Userstory in lista_userstories %}
				{% if Userstory.activo %}
	<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ Userstory.id }}">
				          	{{ Userstory.nombre }}
				          </a>
                          <a href="consultar/{{ Userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>
                          <a href="modificaruserstory/{{ Userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a>
                          <a href="eliminaruserstory/{{ Userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Eliminar</button></a>
                          <a href="verHistorial/{{ Userstory.id }}/"><button type="button" class="btn btn-default btn-sm">Ver Historial de Cambios</button></a>
				      </h4>
				    </div>
	</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	</div>
{% endblock %}
