{% extends "base_general.html" %}

{% block navegacion %}
    <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#">Sprints</a></li>
			<li class="active"><a href="#">Consulta de sprint</a></li>
        </ul>

	</div>
</nav>
    </div>
{% endblock %}

{% block menu %}
    <div class="container">
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">{{ sprint.nombre}}</a>
	</ul>
</div>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
<div class="content-secondary">
	<p><h4>Nombre del Sprint: <span class="label label-default">{{ perfil.nombre }}</span></h4></p>
	<p><h4>Estado: <span class="label label-default">{{ perfil.estado }}</span></h4></p>
    <p><h4>Duracion: <span class="label label-default">{{ perfil.duracion }}</span></h4></p>
    <p><h4>Fecha de inicio: <span class="label label-default">{{ perfil.fechainicio }}</span></h4></p>
    <p><h4>Fecha de fin: <span class="label label-default">{{ perfil.fechafin }}</span></h4></p>
    <p><h4>Tiempo Acumulado: <span class="label label-default">{{ perfil.tiempoacumulado }}</span></h4></p>


</div>
<br>
<div align="center">
		<a href="/proyectos/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
    </div>
	
{% endblock %}


