{% extends "base_general.html" %}

{% block navegacion %}
    <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#"">Sprints</a></li>
        </ul>
	</div>
</nav>
    </div>
{% endblock %}

{% block menu %}
    <div class="container">
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Sprints</a>
		</li>
	</ul>
</div>
    </div>
{% endblock %}

{% block botones %}
    <div class="container">
<div class="row">
	<form class="navbar-form navbar-left">
        {% if perm_add_sprint == 1 %}
		<a href="crearsprint/"><button type="button" class="btn btn-default">Crear Sprint</button></a>
        {% endif %}
	</form>
</div>
    </div>
{% endblock %}
{% block contenido %}
    <div class="container">
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="panel-group" id="accordion">

	<br>
		{% if lista_sprints %}
			{% for Sprint in lista_sprints %}
				{% if Sprint.activo %}
	<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ Sprint.id }}">
				          	{{ Sprint.nombre }}
				          </a>
                          <a href="consultar/{{ Sprint.id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>

                          {% if perm_change_sprint == 1 %}
                          <a href="modificarsprint/{{ Sprint.id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a>
                          {% endif %}

                          {% if perm_delete_sprint == 1 %}
                          <a href="eliminarsprint/{{ Sprint.id }}/"><button type="button" class="btn btn-default btn-sm">Eliminar</button></a>
				          {% endif %}
                      </h4>
				    </div>
	</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	</div>
    </div>
{% endblock %}
