{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/roles/">Roles</a></li>
			<li class="active"><a href="/roles/modificar/{{ id_rol }}/">Modificación de Rol</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Modificar Rol</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if rol_form.errors %}
		Por favor verifique:
	{% endif %}

	<form action="" method="post"> {% csrf_token %}
        {{ rol }}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/roles/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}