{% load bootstrap %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <title>SISTEMA DE GESTION DE PROYECTO</title>
        <style type="text/css">
            .multiple-checkbox ul { /* Used to hide <li> elements in multiple checkbox forms */
              padding-left: 0px;
              list-style: none;
            }
        </style>
    </head>


    <body>
        <div align="center">
            <h1>Sistema de Administracion de Proyectos</h1>

            <h2>Login SGP</h2>


            <div class="container">
            <div class="row">
                <form id='formulario' method='post' action=''>{% csrf_token %}
                    <table>{{formulario}}</table>
                    <br>
                    <p><input type='submit' value='Iniciar Sesion'/></p>
                </form>

            </div>
            </div>

        </div>
     <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <footer class='centrar'>
		<br><span>Grupo R01</span><br>
			<span>Facultad Politecnica - Universidad Nacional de Asuncion</span><br>
			<span>2015</span>
		</footer>
    </body>
</html>
