{% extends 'base_general.html' %}

{% block contenido %}



<body>

	    <h2><a href="">Modulo de  Administracion</a></h2>
            <ul> <a href='/usuarios'>Usuarios</a></ul>
            <ul> <a href='/clientes'>Clientes</a></ul>
            <ul> <a href='/roles'>Roles</a></ul>

        <h2><a href="">Modulo de Desarrollo</a></h2>
            <ul> <a href='/proyectos'>Proyectos</a></ul>
            <ul> <a href='/flujos'>Flujo</a></ul>
	    <ul> <a href='/sprints'>Sprint</a></ul>

</body>
{% endblock %}
