{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/proyectos/">Proyectos</a></li>
			<li class="active"><a href="/proyectos/consultar/{{ id_proyecto }}/">Consulta de proyecto</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">{{ proyecto.nombre }}</a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Proyecto</h3>
            </div>
            <div class="panel-body">
            <p><h4>Nombre de Proyecto: <span class="label label-default">{{ proyecto.nombre }}</span></h4></p>
            <p><h4>Estado: <span class="label label-default">{{ proyecto.estado }}</span></h4></p>
            <p><h4>Descripcion: <span class="label label-default">{{ proyecto.descripcion }}</span></h4></p>
            <p><h4>Duracion: <span class="label label-default">{{ proyecto.duracion_estimada }}</span></h4></p>
            <p><h4>Fecha de inicio: <span class="label label-default">{{ proyecto.fecha_inicio }}</span></h4></p>
            <p><h4>Cliente: <span class="label label-default">{{ proyecto.cliente.nombre }}</span></h4></p>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
	</div>


    <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Flujos Asignados</h3>
            </div>
            <div class="panel-body">
            {% for flujo in flujos %}
                {{ flujo }}
            {% endfor %}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
	</div>

    <div class="page-header">
        <h2>Usuarios - Roles</h2>
      </div>
    <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Rol</th>
              </tr>
            </thead>

            <tbody>
                 {% for usuario in usuarios %}
              <tr>
                <td>{{ usuario }}</td>
                <td>{{ usuario.rol.name }}</td>
              </tr>
                 {% endfor %}
            </tbody>

          </table>
        </div>
    </div>



</div>


<br>
<div align="center">
		<a href="/proyectos/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
	
{% endblock %}


