{% extends "base_general.html" %}

{% block navegacion %}
    <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/proyectos/">Proyectos</a></li>
			<li class="active"><a href="/proyectos/consultar_flujo_proyecto/{{ id_proyecto }}/consultar_un_flujo_proyecto/{{ id_flujo_proyecto }}/">Consultar un Flujo Proyecto</a></li>
        </ul>

	</div>
</nav>
    </div>
{% endblock %}

{% block menu %}
    <div class="container">
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Consultar flujo de un Proyecto</a>
		</li>
	</ul>
</div>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
    {% if proyectosFlujo %}
<div class="content-secondary">
	<div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>Proyecto</th>
                <th>Flujo</th>
                <th>Sprint</th>
                <th>Estado Flujo</th>
                <th>Consultar</th>
                <th>Consultar</th>
              </tr>
            </thead>

            <tbody>
                 {% for proyectoFlujo in proyectosFlujo %}
              <tr>
                <td>{{ proyectoFlujo.proyecto.nombre }}</td>
                <td>{{ proyectoFlujo.flujo.nombre }}</td>
                <td>{{ proyectoFlujo.sprint.nombre }}</td>
                <td>{{ proyectoFlujo.estado }}</td>
                <td><a href="/sprints/consultar/{{ proyectoFlujo.sprint.id }}/"><button type="button" class="btn btn-default btn-sm">Sprint</button></a></td>
                <td><a href="/proyectos/sprint/{{ proyectoFlujo.sprint.id }}"><button type="button" class="btn btn-default btn-sm">User Stories</button></a></td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
    </div>
{% endif %}

</div>
    </div>
{% endblock %}