{% extends "base_general.html" %}

{% block navegacion %}
    <div class="container">
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/proyectos/">Proyectos</a></li>
        </ul>

	</div>
</nav>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
<div class="jumbotron">
	<div class="bs-example" align="center">
		<h2>Notificacion</h2>
			<p class="text-warning"><small>Seguro que desea eliminar el proyecto?</small></p>

        <a href="eliminar/{{ user.id }}/"><button type="button" class="btn btn-default btn-sm">Si</button></a>
		<a type="button" class="btn btn-default" href="usuarios/">No</a>
	</div>
</div>
    </div>
{% endblock %}