{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/proyectos" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/proyectos/">Proyectos</a></li>
        </ul>
	</div>
</nav>
{% endblock %}

{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Proyectos</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">

		<a href="crear_proyecto/"><button type="button" class="btn btn-default">Crear Proyecto</button></a>

	</form>
</div>
{% endblock %}
{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="panel-group" id="accordion">

	<br>
		{% if lista_proyectos %}
			{% for proyecto in lista_proyectos %}
	<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ user.id }}">
				          	{{ proyecto.nombre }}
				          </a>
                          <a href="consultar/{{ proyecto.auto_increment_id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>
                          <a href="modificar/{{ proyecto.auto_increment_id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a>
                          <!--<a href="eliminar/{{ proyecto.auto_increment_id }}/"><button type="button" class="btn btn-default btn-sm">Eliminar</button></a>!-->
				      </h4>
				    </div>
	</div>
			{% endfor %}
		{% endif %}
	</div>
	</div>
{% endblock %}
