{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/principal/" class="navbar-brand">SGP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/clientes/">Clientes</a></li>
			<li class="active"><a href="/cientes/consultarCliente/{{ id }}/">Consulta de cliente</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">{{ ciente.nombre}}</a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<p><h4>Id: <span class="label label-default">{{ perfil.id }}</span></h4></p>
	<p><h4>Nombre del Cliente: <span class="label label-default">{{ perfil.nombre }}</span></h4></p>
	<p><h4>Telefono del Cliente: <span class="label label-default">{{ perfil.numeroTelefono }}</span></h4></p>
	<p><h4>Estado: <span class="label label-default">{{ perfil.estado }}</span></h4></p>

</div>
<br>
<div align="center">
		<a href="/clientes/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
	
{% endblock %}


